.wrapper {
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/image/Banner.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    text-align: center;

    .title {
        margin-top: 10px;
        font-size: 42px;
        color: var(--primary-color);
        font-weight: 400;
    }
    .des {
        margin: 30px 0;
        font-size: 16px;
        color: #555;
    }
}
