@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #222;
    --box-color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 1000px;
}

body {
    font-family: 'Roboto Mono', monospace;
    font-optical-sizing: auto;
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
}
